<% include partials/header %>

<div class="container">
    <div class="jumbotron">
        <h1>America's Finest Parks</h1>
    </div>

<div class="row">
            <% campgrounds.forEach(function(campground){ %>
                <div class = "col-md-4 col-sm-6">
                    <div class="text-center"><%= campground.name %></div>
                    <img src="<%=campground.image%>" height="300px" width="300px">
                </div>
           <% }); %>
</div>

</div>

<% include partials/footer %>