<% include partials/header %>
<h1>America's Finest Parks</h1>

<ul>
    <% campgrounds.forEach(function(campground){ %>
        <li><%= campground.name %></li>
        <img src="<%=campground.image%>" height="300px" width="300px">
        <hr>
   <% }); %>
</ul>

<form action="https://webdevbootcamp-dougwells.c9users.io/campgrounds" method="POST">
    <input type="text" name="campName" placeholder="Camp Name" id="campName">
    <input type="text" name="imageUrl" placeholder="Image URL" id="imageUrl">
    <button class="btn btn-sm btn-primary">Submit</button>
</form>

<% include partials/footer %>