<% include ./partials/header %>

<h1>Create a new campground</h1>
<form action="https://webdevbootcamp-dougwells.c9users.io/campgrounds" method="POST">
    <input type="text" name="name" placeholder="Camp Name" id="campName">
    <input type="text" name="image" placeholder="Image URL" id="imageUrl">
    <button class="btn btn-sm btn-primary">Submit</button>
</form>

<% include partials/footer %>