<% include ./partials/header %>

<h1>Sign up!</h1>

<form action="/register" method="POST">
    <input name="username" placeholder="User Name" type='text'>
    <input name="password" placeholder="Password" type='password'>
    <button>Submit</button>
    
    
</form>

<% include ./partials/footer %>